{% load static %}
{% load custom_tags %}
<div class="menu-nav z-3 position-fixed bottom-0 start-50 translate-middle-x mb-3 d-flex justify-content-around gap-3 p-2 p-lg-0 rounded-5 shadow">
    <a href="{% url 'index' %}"
       class="menu-item text-center rounded-5 p-2 text-decoration-none text-break">
        <img src="{{ config_website.logo.url }}"
             alt="{ config_website.titulo }}"
             width="40" />
    </a>
    {% comment %} <a href="#carrinho" class="menu-item text-center rounded-5 p-2 text-decoration-none text-break" data-bs-toggle="modal" data-bs-target="#carrinho" role="button">
        <i class="mb-1 bi bi-cart4"></i>
        <span class="lh-1">Seu<br>Carrinho</span>
    </a> {% endcomment %}
    <a href="{% url 'carrinho_detail' %}"
       class="menu-item text-center rounded-5 p-2 text-decoration-none text-break">
        <i class="mb-1 bi bi-cart4">({{ carrinho_header_total_itens }})</i>
        <span class="lh-1">Carrinho</span>
    </a>
</div>
<div class="modal fade"
     id="carrinho"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="carrinhoLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content rounded-4 border-0">
            <div class="modal-body m-0 p-0">
                <div class="container-fluid m-0 p-0">
                    <div class="row g-0">
                        <div class="col-12 col-lg-4 bg-alfa d-flex justify-content-center align-items-center">
                            <h3 class="fw-bold text-white p-3 text-center">Seu carrinho</h3>
                        </div>
                        <div class="col-12 col-lg-8 mx-auto p-4 p-lg-5">
                            <form id="formcarrinho" class="row" action="" method="post">
                                {% csrf_token %}
                                <div class="col-12 col-lg-6 mx-auto">
                                    <div class="d-grid gap-2 mx-auto mb-3">
                                        <button class="btn btn-primario" type="submit">Finalizar pedido!</button>
                                        <button type="button"
                                                class="btn btn-secundario"
                                                data-bs-dismiss="modal"
                                                aria-label="Close">Continuar comprando</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'website/js/scripts.js' %}"></script>
