{% load static %}
{% load custom_tags %}
<div class="menu-nav z-3 position-fixed bottom-0 start-50 translate-middle-x mb-3 d-flex justify-content-around gap-3 p-2 p-lg-0 rounded-5 shadow">
    <a href="{% url 'index' %}"
       class="menu-item text-center rounded-5 p-2 text-decoration-none text-break">
        <img src="{{ config_website.logo.url }}"
             alt="{ config_website.titulo }}"
             width="40" />
    </a>
    <a href="{% url 'carrinho_detail' %}"
       class="menu-item text-center rounded-5 p-2 text-decoration-none text-break">
        <i class="mb-1 bi bi-cart4 me-2"></i>({{ carrinho_header_total_itens }})
    </a>
</div>
